<ul class="nav-menu nav navbar-nav">
    <li class="cat-1"><a href="/">Anasayfa</a></li>
    <li class="cat-2"><a href="/blog?page=1">Blog</a></li>
    <li class="cat-3"><a href="/about">Hakkımızda</a></li>
    <li class="cat-4"><a href="/contact">İletişim</a></li>
</ul>