<div class="aside-widget">
    <div class="section-title">
        <h2>Kategoriler</h2>
    </div>
    <div class="category-widget">
        <ul>
            {{#each categories}}
            <li><a href="/blog/categories/{{_id}}" class="cat-2">{{name}}<span>{{num_of_posts}}</span></a></li>
            {{/each}}
        </ul>
    </div>
</div>