<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {{!--
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico"> --}}

    <title>Floating labels example for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/floating-labels/">

    <!-- Bootstrap core CSS -->
    <link href="dashboard/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="dashboard/floating-labels.css" rel="stylesheet">
</head>

<body>
    <form class="form-signin">
        <div class="form-label-group">
            <h1 class="text-center">🦸</h1>
            <h2 class="text-center">Giriş Yapın..</h2>
            <hr>
        </div>
        <div class="form-label-group">
            <input type="email" id="inputEmail" class="form-control" placeholder="Eposta Adresi" required autofocus>
            <label for="inputEmail">Eposta Adresi</label>
        </div>

        <div class="form-label-group">
            <input type="password" id="inputPassword" class="form-control" placeholder="Parola" required>
            <label for="inputPassword">Parola</label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Giriş Yap</button>
    </form>
</body>

</html>