<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-8">
                <div class="section-row" id="aboutContent">
                    {{{ about.content }}}
                </div>
            </div>
            <!-- /row -->
            <!-- aside -->
            <div class="col-md-4">
                <!-- catagories -->
                {{>sidebarCategories}}
                <!-- post widget -->
                {{>sidebarLastestBlogs}}
            </div>
            <!-- /aside -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->