<!-- Page Header -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <ul class="page-header-breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li>Contact</li>
                </ul>
                <h1>Contact</h1>
            </div>
        </div>
    </div>
</div>
<!-- /Page Header -->
<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-6">
                <div class="section-row">
                    <h3>Contact Information</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <ul class="list-style">
                        <li>
                            <p><strong>Email:</strong> <a href="#">Webmag@email.com</a></p>
                        </li>
                        <li>
                            <p><strong>Phone:</strong> 213-520-7376</p>
                        </li>
                        <li>
                            <p><strong>Address:</strong> 3770 Oliver Street</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
                {{#if sessionFlash.message}}
                <div class="{{sessionFlash.type}} alert-dismissible fade show" role="alert">
                    {{sessionFlash.message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{/if}}
                <div class="section-row">
                    <h3>Send A Message</h3>
                    <form action="/contact/email" method="POST">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="fullName">Ad Soyad</label>
                                <input type="text" class="form-control" id="fullName" name="fullName"
                                    placeholder="Ad Soyad" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="email">Eposta</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Eposta"
                                    required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="message">Mesaj</label>
                                <textarea class="form-control" id="message" name="message" rows="3"
                                    placeholder="Mesajınızı yazınız.." required></textarea>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <button type="submit" class="btn btn-block btn-primary">Gönder</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->